
@import "__main";

#content {

	.title {
		.strict-box;
		.default-face;
		margin: 0;
		padding: 0 0 0 64px;
		border: 1px solid @default-border-color;
		width: auto;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		background: transparent url( '/assets/images/sprites.png' ) no-repeat scroll -250px 0;
	}

}
