<h1 class="title">Mensagens</h1>

<form name="form-msgs" id="form-msgs" action="action" method="post">

	<div class="toolbar">
		<div class="toolbar-item">
			<input type="button" class="button" name="form-msgs-remove-do" id="form-msgs-remove-do" value="remove" />
		</div>
		<div class="toolbar-item search-box">
			<input type="text" name="form-msgs-search" id="form-msgs-search" size="20" placeholder="pesquisar" />
			<input type="button" class="button" name="form-msgs-search-do" id="form-msgs-search-do" value="search" />
		</div>
	</div>

	<div class="message-container">
		{{#each messages}}
		<div class="message-box">{{author}} | {{title}}</div>
		{{/each}}
	</div>

</form>
